.App {
  text-align: center;
}

.App-logo {
  color: #ffb53a;
}

.card {
  height: 200px;
}

.modal {
  position: absolute;
  top: 100px;
  left: 15%;
  right: 15%;
  bottom: 100px;
  background-color: white;
}

.modal__header {
  background-color: #f4f4f4;
  padding: 50px;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(38, 38, 38, 0.7);
}
